* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Roboto, sans-serif;;
}

/* START CONTAINER */
.container {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* START CARD */
.card {
    width: 33%;
    height: 600px;
    float: left;
}

/* START BOX IMMAGES  */
.box-immages {
    width: 100%;
    height: 90%;
    position: relative;
}

.box-immages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(95%);
}

.img-hover {
    display: none;
}

.box-immages:hover .img-hover {
    display: inline-block;
}

.box-immages:hover .img-base {
    display: none;
}

/* WISHLIST BUTTON  */
.wishlist {
    background-color: white;
    border: none;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 0;
}

.wishlist:hover {
    color: red;
}

/* START FEAUTRES */
.features {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.features::after {
    content: "";
    display: table;
    clear: both;
}

.discount {
    color: white;
    background-color: red;
    padding: 3px;
    display: inline-block;
    float: left;
}

.sustainability {
    color: white;
    background-color: green;
    padding: 3px;
    margin-left: 3px;
    display: inline-block;
    float: left;
}


/* START BOX TEXTS */
.brand, 
.new-price, 
.old-price  {
    font-size: 0.7em;
}

.product {
    font-size: 1.3em;
    font-weight: bold;
}

.new-price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    margin: 3px;
}